#ifndef {{ dev_name_sc | upper }}_CAN_H
#define {{ dev_name_sc | upper }}_CAN_H

#include <stdint.h>

#include "can_signal_parser.h"
#include "can_frame.h"



/* {{ dev_name_sc }} message IDs */
{%- for msg in messages %}
#define MSG_{{ msg.name_sc | upper }}_ID {{ msg.frame_id }}
{%- endfor %}

{%- for msg in messages %}

typedef struct {
    {%- for sig in msg.signals %}
    {%- if sig.comment %}
    // {{ sig.unit }}
    {%- endif %}
    {{ sig.type }} {{ sig.name }};
    {%- endfor %}
} CanMsg{{ msg.name }};

{%- endfor %}

typedef struct {
    {%- for msg in messages %}
    CanMsg{{ msg.name }} {{ msg.name_sc }};
    {%- endfor %}
} CanDev{{ dev_name }};

/* Decode messages */
{%- for msg in messages %}
CanMsg{{ msg.name }} decode_{{ msg.name_sc }}(CanFrame msg);
{%- endfor %}

#endif // {{ dev_name_sc | upper }}_CAN_H
