#include "{{ dev_name_sc }}.h"

/* Decode Signals */
{%- for msg in messages %}
// {{ msg.name }}
{%- for sig in msg.signals %}
#define decode_{{ msg.name_sc }}_{{ sig.name }}(msg) \
    decode_signal_{{ sig.type }}_as_{{ sig.type }}((msg), {{ sig.start }}, {{ sig.length }}, {{ sig.scale }}, {{ sig.offset }})
{%- endfor %}
{%- endfor %}
