#pragma once

#include <optional>
#include <string>

#include <nlohmann/json.hpp>

namespace fcp {
using json = nlohmann::json;

struct ISchema {
    virtual std::optional<json> DecodeJson(std::string msg_name, std::vector<uint8_t> j) = 0;
};
}
